# Machine learning
tensorflow==2.16.1

# Streamlit
streamlit>=1.37.0

# Data and utilities
numpy
pandas
matplotlib
pillow
base64

# PDF generation
fpdf

# Medical imaging
pydicom

# Logging and display
rich
